.u-section-1 {
  background-image: url("images/Mar20_16_629639399.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 313px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 167px 0 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }
}.u-section-2 {
  min-height: 611px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 546px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0px;
  width: 508px;
  font-weight: 400;
  text-transform: none;
  margin: 36px auto 0;
}

.u-section-2 .u-text-2 {
  width: 507px;
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  width: 508px;
  height: 155px;
  object-position: 50% 40.35%;
  margin: 22px 85px 0 84px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 546px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  object-position: 100% 100%;
  width: 349px;
  height: 206px;
  margin: 56px auto 0 54px;
}

.u-section-2 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 22px 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 580px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 450px;
  }

  .u-section-2 .u-text-1 {
    width: 473px;
  }

  .u-section-2 .u-text-2 {
    width: 473px;
  }

  .u-section-2 .u-image-1 {
    width: 473px;
    height: 144px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-2 .u-image-2 {
    width: 347px;
    height: 253px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: 348px;
  }

  .u-section-2 .u-text-2 {
    width: 348px;
  }

  .u-section-2 .u-image-1 {
    width: 348px;
    height: 106px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 252px;
    height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1030px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-text-2 {
    width: 320px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 97px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 589px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 489px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: bold;
  margin: 33px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 32px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 489px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: bold;
  margin: 32px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 522px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 362px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  margin: 92px 4px 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 4px;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 8px 4px 0;
}

.u-section-4 .u-image-1 {
  min-height: 362px;
  background-image: url("images/data_0.jpg");
  background-position: 17.64% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-4 .u-image-1 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 481px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-image-1 {
    min-height: 303px;
  }
}.u-section-5 {
  min-height: 704px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 752px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-image-1 {
  object-position: 46.7% 47.61%;
  background-position: 50% 100%;
  width: 441px;
  height: 237px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 20px 49px 0 46px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 788px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0px;
  width: 508px;
  font-weight: 400;
  text-transform: none;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  width: 507px;
  margin: 0 auto;
}

.u-section-5 .u-image-2 {
  width: 412px;
  height: 238px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 580px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 620px;
  }

  .u-section-5 .u-image-1 {
    width: 377px;
    height: 203px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 5px;
    margin-left: 3px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 650px;
  }

  .u-section-5 .u-text-2 {
    width: 473px;
  }

  .u-section-5 .u-text-3 {
    width: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 444px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 282px;
    height: 152px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    width: 348px;
  }

  .u-section-5 .u-text-3 {
    width: 348px;
  }

  .u-section-5 .u-image-2 {
    width: 348px;
    height: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1030px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 470px;
  }

  .u-section-5 .u-text-2 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: 320px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 185px;
  }
}.u-section-6 {
  min-height: 651px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 47px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 604px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0px;
  width: 508px;
  font-weight: 400;
  text-transform: none;
  margin: 36px auto 0;
}

.u-section-6 .u-text-2 {
  width: 507px;
  margin: 0 auto;
}

.u-section-6 .u-image-1 {
  width: 170px;
  height: 170px;
  object-position: 50% 40.35%;
  margin: 12px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 604px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  object-position: 100% 100%;
  width: 349px;
  height: 181px;
  margin: 56px auto 0 54px;
}

.u-section-6 .u-text-3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 22px 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 580px;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 498px;
  }

  .u-section-6 .u-text-1 {
    width: 473px;
  }

  .u-section-6 .u-text-2 {
    width: 473px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 498px;
  }

  .u-section-6 .u-image-2 {
    width: 347px;
    height: 253px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 444px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    width: 348px;
  }

  .u-section-6 .u-text-2 {
    width: 348px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    width: 252px;
    height: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 1030px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 470px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-6 .u-text-2 {
    width: 320px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-7 {
  min-height: 704px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 788px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-image-1 {
  object-position: 46.7% 47.61%;
  background-position: 50% 100%;
  width: 379px;
  height: 106px;
  margin: 42px auto 0 84px;
}

.u-section-7 .u-text-1 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 20px 32px 0 62px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 788px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  width: 508px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  width: 507px;
  margin: 0 auto;
}

.u-section-7 .u-image-2 {
  width: 382px;
  height: 425px;
  margin: 20px 163px 0 132px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 580px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-7 .u-image-1 {
    width: 377px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 650px;
  }

  .u-section-7 .u-text-2 {
    width: 473px;
  }

  .u-section-7 .u-text-3 {
    width: 473px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 30px;
    margin-right: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 444px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 282px;
    height: 79px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    width: 348px;
  }

  .u-section-7 .u-text-3 {
    width: 348px;
  }

  .u-section-7 .u-image-2 {
    width: 348px;
    height: 387px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1030px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 470px;
  }

  .u-section-7 .u-text-2 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
  }

  .u-section-7 .u-image-2 {
    width: 320px;
    height: 356px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 294px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 30px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: -9px 3px 0 auto;
}

.u-section-8 .u-icon-2 {
  height: 54px;
  width: 54px;
  margin: 14px 3px 0 auto;
}

.u-section-8 .u-icon-3 {
  height: 52px;
  width: 49px;
  margin: 18px auto -26px 396px;
}

.u-section-8 .u-list-1 {
  width: 459px;
  min-height: 234px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  margin: -218px auto 0 0;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-8 .u-icon-4 {
  height: 22px;
  width: 22px;
  margin: 13px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-8 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-8 .u-icon-5 {
  height: 22px;
  width: 22px;
  margin: 13px auto 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-8 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-8 .u-list-2 {
  width: 459px;
  min-height: 234px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  margin: -234px 192px 30px auto;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 20px 30px 15px;
}

.u-section-8 .u-icon-6 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -24px 8px 0 34px;
}

.u-section-8 .u-text-6 {
  margin: 22px 1px 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px 30px 15px;
}

.u-section-8 .u-icon-7 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 1px;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -24px 8px 0 34px;
}

.u-section-8 .u-text-8 {
  margin: 22px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-8 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-right: 107px;
  }

  .u-section-8 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: -64px;
    margin-right: 13px;
  }

  .u-section-8 .u-icon-3 {
    height: 68px;
    width: 64px;
    margin: -3px 60px 60px 301px;
  }

  .u-section-8 .u-list-1 {
    margin-right: -484px;
    margin-left: auto;
    height: auto;
  }

  .u-section-8 .u-list-2 {
    height: auto;
    margin-right: 285px;
  }

  .u-section-8 .u-text-7 {
    position: absolute;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 251px;
  }

  .u-section-8 .u-list-2 {
    margin-right: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-list-2 {
    margin-right: 81px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-8 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}