.u-section-1 {
  background-image: url("images/top-5-data-science-strategy-predictions-2020-1024x440.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 310px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 170px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 93px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 1px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-weight: 900;
  font-size: 2.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 468px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

.u-section-2 .u-image-1 {
  object-position: 50% 16.29%;
  width: 617px;
  height: 418px;
  margin: 0 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 386px;
    background-position: 50% 16.29%;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
    height: 232px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 291px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 271px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 271px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
  margin-left: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 271px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
  margin-left: 0;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.25rem;
  margin-left: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 271px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
  margin-left: 0;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.25rem;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 293px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 393px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 646px;
}

.u-section-4 .u-slider-1 {
  min-height: 592px;
  margin: 44px 0 10px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 958px;
  height: 532px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 476px;
  min-height: 219px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -223px -26px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 50px 9px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: -27px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 670px;
  height: 466px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-group-2 {
  width: 362px;
  min-height: 280px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -361px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 50px;
}

.u-section-4 .u-text-3 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: -21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-4 .u-image-3 {
  width: 504px;
  height: 190px;
  object-position: 50% 0%;
  margin: 13px auto 0 15px;
}

.u-section-4 .u-group-3 {
  width: 476px;
  min-height: 273px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -64px 9px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 50px 9px;
}

.u-section-4 .u-text-5 {
  font-weight: normal;
  margin: 25px -3px 0 3px;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 15px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: -21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 504px;
  height: 155px;
  object-position: 50% 91.44%;
  margin: -208px auto 0 15px;
}

.u-section-4 .u-image-5 {
  width: 327px;
  height: 238px;
  margin: -46px auto 0 228px;
}

.u-section-4 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-4 .u-image-6 {
  width: 396px;
  height: 327px;
  margin: 31px 67px 0 auto;
}

.u-section-4 .u-group-4 {
  width: 508px;
  min-height: 311px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -240px auto 0 42px;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 50px 9px;
}

.u-section-4 .u-text-7 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: -32px auto 0 0;
  padding: 0;
}

.u-section-4 .u-group-5 {
  width: 511px;
  min-height: 115px;
  margin: -51px 76px 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 30px 9px;
}

.u-section-4 .u-image-7 {
  width: 491px;
  height: 98px;
  margin: -22px auto -9px -19px;
}

.u-section-4 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 50px;
}

.u-section-4 .u-image-8 {
  width: 464px;
  height: 197px;
  margin: 55px auto 0 46px;
}

.u-section-4 .u-image-9 {
  width: 468px;
  height: 173px;
  margin: 30px auto 0 46px;
}

.u-section-4 .u-group-6 {
  width: 508px;
  min-height: 311px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -363px 14px 0 auto;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 50px 9px;
}

.u-section-4 .u-text-9 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: -32px auto 0 0;
  padding: 0;
}

.u-section-4 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px 50px;
}

.u-section-4 .u-image-10 {
  width: 526px;
  height: 386px;
  margin: 32px 31px 0 auto;
}

.u-section-4 .u-group-7 {
  width: 476px;
  min-height: 219px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -276px auto 0 20px;
}

.u-section-4 .u-container-layout-13 {
  padding: 0 50px 9px;
}

.u-section-4 .u-text-11 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-4 .u-carousel-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-4 .u-image-11 {
  width: 442px;
  height: 352px;
  margin: 90px auto 0 34px;
}

.u-section-4 .u-group-8 {
  width: 476px;
  min-height: 232px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -292px 101px 0 auto;
}

.u-section-4 .u-container-layout-15 {
  padding: 0 50px 9px;
}

.u-section-4 .u-text-13 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: 1px auto 0 0;
  padding: 0;
}

.u-section-4 .u-container-layout-16 {
  padding: 30px 50px;
}

.u-section-4 .u-image-12 {
  width: 520px;
  height: 289px;
  margin: 0 auto 0 46px;
}

.u-section-4 .u-group-9 {
  width: 477px;
  min-height: 239px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.5);
  margin: -63px 156px 0 auto;
}

.u-section-4 .u-container-layout-17 {
  padding: 0 50px;
}

.u-section-4 .u-text-15 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-16 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  border-style: none none solid;
  font-size: 0.75rem;
  margin: -21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 55px;
  height: 55px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 55px;
  height: 55px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-slider-1 {
    margin-bottom: 0;
    min-height: 528px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 780px;
    height: 468px;
  }

  .u-section-4 .u-group-1 {
    width: 429px;
    margin-top: -143px;
    margin-right: -34px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-group-2 {
    width: 429px;
    margin-top: -199px;
    margin-right: -34px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 262px;
    margin-left: 29px;
  }

  .u-section-4 .u-group-3 {
    width: 429px;
    min-height: 270px;
    margin-top: 79px;
    margin-right: -34px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-4 {
    width: 432px;
    object-position: 50% 100%;
    margin-top: -316px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 25px;
  }

  .u-section-4 .u-image-6 {
    margin: 30px auto 60px 0;
  }

  .u-section-4 .u-group-4 {
    width: 429px;
    margin-top: -143px;
    margin-right: -34px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-7 {
    width: 451px;
    height: 90px;
    margin-left: 0;
  }

  .u-section-4 .u-group-6 {
    width: 429px;
    margin-top: -143px;
    margin-right: -34px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-group-7 {
    width: 429px;
    margin-top: -143px;
    margin-right: -34px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-group-8 {
    width: 429px;
    margin-top: -143px;
    margin-right: -34px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-group-9 {
    width: 429px;
    margin-top: -199px;
    margin-right: -34px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 456px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-1 {
    width: 374px;
    height: 396px;
  }

  .u-section-4 .u-group-1 {
    width: 383px;
    margin-top: -277px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-2 {
    width: 374px;
    height: 459px;
  }

  .u-section-4 .u-group-2 {
    width: 383px;
    margin-top: -245px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-3 {
    width: 383px;
    margin-top: -335px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-4 {
    width: 383px;
    margin-top: -277px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-6 {
    width: 383px;
    margin-top: -277px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-7 {
    width: 383px;
    margin-top: -276px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-8 {
    width: 383px;
    margin-top: -292px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-9 {
    width: 383px;
    margin-top: -245px;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 715px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 312px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 362px;
    margin-right: auto;
  }

  .u-section-4 .u-group-2 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 16px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 78px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-5 {
    margin-right: 9px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-6 {
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-10 {
    width: 520px;
    height: 382px;
    margin-right: 0;
  }

  .u-section-4 .u-group-7 {
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-8 {
    margin-top: -144px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-12 {
    margin-left: 0;
  }

  .u-section-4 .u-group-9 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
    width: 285px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 408px;
    width: 285px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 276px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 121px;
    margin-top: 4px;
    margin-left: 0;
  }

  .u-section-4 .u-group-3 {
    margin-top: 145px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    width: 320px;
    height: 115px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    width: 320px;
    height: 233px;
    margin-right: auto;
    margin-left: -90px;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 281px;
  }

  .u-section-4 .u-group-4 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-5 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    width: 300px;
    height: 60px;
  }

  .u-section-4 .u-image-8 {
    width: 320px;
    height: 136px;
    margin-left: 0;
  }

  .u-section-4 .u-image-9 {
    width: 320px;
    height: 118px;
    margin-left: 0;
  }

  .u-section-4 .u-group-6 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-10 {
    width: 320px;
    height: 235px;
  }

  .u-section-4 .u-group-7 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-11 {
    width: 320px;
    height: 255px;
    margin-left: 0;
  }

  .u-section-4 .u-group-8 {
    margin-top: -20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-12 {
    width: 320px;
    height: 178px;
  }

  .u-section-4 .u-group-9 {
    margin-top: 276px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-17 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 1356px;
}

.u-section-5 .u-shape-1 {
  height: 745px;
  width: calc(((100% - 1140px) / 2) + 896px);
  margin: 60px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -681px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-5 .u-text-1 {
  margin: 14px 285px 0 14px;
}

.u-section-5 .u-image-1 {
  height: 292px;
  margin-top: 8px;
  margin-bottom: 0;
  width: 516px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.75rem;
  margin: -291px auto 0 14px;
  padding: 1px 17px 2px 16px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-size: 0.625rem;
  text-transform: uppercase;
  background-image: none;
  margin: 9px auto 0 14px;
  padding: 8px 9px 8px 8px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/cloud2.png");
  background-position: 6% 50%;
  min-height: 451px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 451px;
}

.u-section-5 .u-image-3 {
  width: 341px;
  height: 299px;
  object-position: 16.69% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 14px 70px 0 14px;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  background-image: none;
  font-size: 0.75rem;
  margin: 0 auto 0 14px;
  padding: 1px 17px 2px 16px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 312px;
}

.u-section-5 .u-text-3 {
  margin: 14px 460px 0 14px;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  background-image: none;
  font-size: 0.75rem;
  margin: 8px auto 0 14px;
  padding: 1px 17px 2px 16px;
}

.u-section-5 .u-image-4 {
  width: 422px;
  height: 225px;
  margin: -94px 14px 0 auto;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  font-size: 0.625rem;
  text-transform: uppercase;
  background-image: none;
  margin: -122px auto 0 14px;
  padding: 7px 9px 8px 8px;
}

.u-section-5 .u-image-5 {
  background-image: url("images/82f152dd4d93f03c195531c931a4eb70.jpg");
  background-position: 50% 50%;
  min-height: 312px;
}

.u-section-5 .u-image-6 {
  background-image: url("images/71.png");
  background-position: 50% 50%;
  min-height: 312px;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 399px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-5 .u-text-4 {
  margin: 0 98px 0 4px;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  background-image: none;
  font-size: 0.75rem;
  margin: 8px auto 0 5px;
  padding: 1px 17px 2px 16px;
}

.u-section-5 .u-image-7 {
  background-image: url("images/data-overwhelm-marketing.jpg");
  background-position: 50% 50%;
  min-height: 399px;
}

.u-section-5 .u-image-8 {
  background-image: url("images/1q.png");
  background-position: 100% 0%;
  min-height: 399px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 1155px;
  }

  .u-section-5 .u-shape-1 {
    height: 618px;
    width: 887px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 372px;
  }

  .u-section-5 .u-text-1 {
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-5 .u-image-1 {
    width: 293px;
    height: 166px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 243px;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-5 .u-image-3 {
    width: 277px;
    height: 243px;
    margin-top: -217px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 115px;
    margin-right: 36px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 257px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -18px;
    margin-right: 408px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    width: 293px;
    height: 157px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-5 .u-image-5 {
    min-height: 257px;
  }

  .u-section-5 .u-image-6 {
    min-height: 257px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 329px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 35px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-5 .u-image-7 {
    min-height: 329px;
  }

  .u-section-5 .u-image-8 {
    min-height: 329px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 933px;
  }

  .u-section-5 .u-shape-1 {
    height: 492px;
    width: calc(((100% - 720px) / 2) + 670px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 8px;
  }

  .u-section-5 .u-image-1 {
    width: 220px;
    height: 125px;
  }

  .u-section-5 .u-image-2 {
    min-height: 285px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    width: 208px;
    height: 182px;
    margin-left: 40px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -10px;
    margin-right: 335px;
  }

  .u-section-5 .u-image-4 {
    width: 220px;
    height: 118px;
  }

  .u-section-5 .u-image-5 {
    min-height: 258px;
  }

  .u-section-5 .u-image-6 {
    min-height: 258px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-7 {
    min-height: 656px;
  }

  .u-section-5 .u-image-8 {
    min-height: 656px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 5274px;
  }

  .u-section-5 .u-shape-1 {
    height: 1652px;
    width: calc(((100% - 540px) / 2) + 420px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-image-2 {
    min-height: 987px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 15px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-5 .u-image-5 {
    min-height: 2955px;
  }

  .u-section-5 .u-image-6 {
    min-height: 581px;
  }

  .u-section-5 .u-image-7 {
    min-height: 850px;
  }

  .u-section-5 .u-image-8 {
    min-height: 568px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 3471px;
  }

  .u-section-5 .u-shape-1 {
    height: 1445px;
    width: calc(((100% - 340px) / 2) + 270px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 378px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-top: -78px;
  }

  .u-section-5 .u-image-5 {
    min-height: 366px;
  }

  .u-section-5 .u-image-6 {
    min-height: 366px;
  }

  .u-section-5 .u-image-7 {
    min-height: 535px;
  }

  .u-section-5 .u-image-8 {
    min-height: 358px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 311px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 47px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: -9px 3px 0 auto;
}

.u-section-6 .u-icon-2 {
  height: 54px;
  width: 54px;
  margin: 14px 3px 0 auto;
}

.u-section-6 .u-icon-3 {
  height: 52px;
  width: 49px;
  margin: 18px auto -26px 396px;
}

.u-section-6 .u-list-1 {
  width: 459px;
  min-height: 234px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  margin: -218px auto 0 0;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-icon-4 {
  height: 22px;
  width: 22px;
  margin: 13px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-6 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-icon-5 {
  height: 22px;
  width: 22px;
  margin: 13px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-6 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-6 .u-list-2 {
  width: 459px;
  min-height: 234px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  margin: -234px 192px 30px auto;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-icon-6 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -24px 8px 0 34px;
}

.u-section-6 .u-text-6 {
  margin: 22px 1px 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 30px 15px;
}

.u-section-6 .u-icon-7 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 1px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -24px 8px 0 34px;
}

.u-section-6 .u-text-8 {
  margin: 22px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-6 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin-right: 107px;
  }

  .u-section-6 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin-top: -64px;
    margin-right: 13px;
  }

  .u-section-6 .u-icon-3 {
    height: 68px;
    width: 64px;
    margin-top: 20px;
    margin-right: 13px;
    margin-left: auto;
  }

  .u-section-6 .u-list-1 {
    margin-right: -484px;
    margin-left: auto;
    height: auto;
  }

  .u-section-6 .u-list-2 {
    height: auto;
    margin-right: 285px;
  }

  .u-section-6 .u-text-7 {
    position: absolute;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 138px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-list-2 {
    margin-right: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 207px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-icon-3 {
    margin: -3px 60px 60px 251px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-2 {
    margin-right: 81px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-6 .u-icon-3 {
    margin: 20px 13px -26px auto;
  }

  .u-section-6 .u-list-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-6 .u-text-6 {
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    margin-right: auto;
    margin-left: 1px;
    margin-top: 20px;
  }

  .u-section-6 .u-text-8 {
    margin-right: auto;
  }
}